*.pyc
*.DS_Store
.idea/*
celerybeat-schedule
local_settings.py
celerybeat.pid
fairtrace_v2/media/*
~*
*.dump
dev_config.ini
prod_config.ini
.vscode/*
database_dumps
database_dumps/*
.env
.pytype/*
.mypy_cache/*
.cache/*
logs/*
htmlcov/
fixtures/*
