<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Fairfood</title>
</head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!--Main Table Start-->
<h1>FairFood invited you to join {{event.email_sc_text}}</h1>

<br>
<table width="30%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="1px" align="left" valign="middle" bgcolor="#EA2353" style="font-family: 'Moderat Bold',Arial, Helvetica, sans-serif, Verdana;font-size: 15px;font-weight: bold;color: #FFFFFF;padding: 15px;padding-left: 75px;padding-right: 75px;" mc:edit="mm-08">
            <multiline><a href="{{notification.action_url}}" style="color:#FFFFFF!important; text-decoration:none;">Accept and sign up</a></multiline>
        </td>
    </tr>
</table>
<br>
<br>
Hi {{notification.user.name}},
On behalf of Fairfood, Welcome!
<br/>
<br/>
<div>
   Your company {{event.node.full_name}} has been Invited to join {{event.email_sc_text}}. Our blockchain-powered Trace system allows you to collect and share the story and
    impact of your products.
</div>
<br/>
<br>
<div>
    <a href="https://www.youtube.com/watch?v=_PmgeTHOOvM" target="_blank" ><img mc:edit="mm-21" editable="true" src="https://fairtrace-v2-dev.s3.eu-central-1.amazonaws.com/email/images/fairfood_video_thumbnail.png" width="392" height="218" alt="" /></a>
</div>
<br>

<div>
    Please click the below button to set up to your account.
</div>

<br>
<table width="30%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="1px" align="left" valign="middle" bgcolor="#EA2353" style="font-family: 'Moderat Bold',Arial, Helvetica, sans-serif, Verdana;font-size: 15px;font-weight: bold;color: #FFFFFF;padding: 15px;padding-left: 75px;padding-right: 75px;" mc:edit="mm-08">
            <multiline><a href="{{notification.action_url}}" style="color:#FFFFFF!important; text-decoration:none;">Accept and sign up</a></multiline>
        </td>
    </tr>
</table>
<br>
<br>

<div>
  <multiline>
    Kind regards,<br>
    fairfood Trace team <br> <br>
    Call: <a style="color:#4DCAF4 !important;" href="tel:+31 6 16557605">+31 6 16557605</a> <br>
    Email: <a href="mailto:trace@fairfood.org" style="color:#4DCAF4 !important;">trace@fairfood.org</a><br>
  </multiline>
</div>
<br>
<br>
<br/>

 <table width="50%" border="0"  cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="top">
              <table width="725" border="0" cellpadding="0" cellspacing="0" class="main">
                <tr>
                  <td valign="top" bgcolor="#FFFFFF">
                    <table width="600" border="0" cellpadding="0" cellspacing="0" class="two-left-inner">
                      <!-- <tr>
            <td height="70" align="center" valign="top" style="font-size:70px; line-height:70px;">&nbsp;</td>
          </tr> -->
                      <tr>
                        <td valign="middle">
                          <table width="30%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <!-- <td align="center" valign="middle" style="font-family:'Open Sans', sans-serif, Verdana; font-size:18px;font-weight:normal;color:#7e7c7c;" mc:edit="mm-36"><multiline>Fairfood Mail</multiline></td> -->
                              <td valign="middle"  style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;padding-top:0px;font-size:18px;line-height:22px;font-weight:normal;color:#333333;">
                                  <img mc:edit="mm-36"
                                  src="https://fairtrace-v2-dev.s3.eu-central-1.amazonaws.com/email/images/flogo.png"
                                  alt="" />
                              </td>
                            </tr>
<!--                            <tr>-->
<!--                              <td align="center" valign="middle"-->
<!--                                style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;font-size:13px;line-height:16px;font-weight:normal;color:#333333;"-->
<!--                                mc:edit="mm-36">-->
<!--                                <multiline>-->
<!--                                  We make food more sustainable. We believe that good food starts with transparent-->
<!--                                  chains.<br>-->
<!--                                  Because only when we know where our food comes from, who is involved in its-->
<!--                                  production, can we<br>-->
<!--                                  tackle issues such as unfair trade. Join Fairfood, and manage all your trade &-->
<!--                                  transactions.-->
<!--                                </multiline>-->
<!--                              </td>-->
<!--                            </tr>-->
                            <tr>
                              <td  valign="middle"
                                style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;padding-top:0px;font-size:18px;line-height:22px;font-weight:normal;color:#333333;"
                                mc:edit="mm-36">
                                <multiline>
                                  <a style="color: #EA2553 !important;"
                                    href="https://www.fairfood.org">www.fairfood.org</a>
                                </multiline>
                              </td>
                            </tr>
                            <tr>
                              <td valign="middle"
                                style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;padding-top:0px;font-size:18px;line-height:22px;font-weight:normal;color:#333333;"
                                mc:edit="mm-36">
                               <div>
                                   Have questions? Visit our website or talk to us.
                                </div>
                              </td>
                            <tr>
                              <td valign="middle" style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;padding-top:0px;font-size:18px;line-height:22px;font-weight:normal;color:#333333;text-align:
                      center;" mc:edit="mm-36">
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                  class="main">
                                  <tr>
                                    <td align="justify" valign="middle"
                                      style="font-family:'Moderat Medium',Arial, Helvetica, sans-serif;">
                                      <img
                                        style="margin-right: 10px;vertical-align: middle;display: inline-block !important;margin-bottom: 2.5px;"
                                        src="https://fairtrace-v2-dev.s3.eu-central-1.amazonaws.com/email/images/mail.png"
                                        alt="">
                                      <multiline>Mail us :
                                        <a href="mailto:trace@fairfood.org"
                                          style="color:#4DCAF4 !important;">trace@fairfood.org</a>
                                      </multiline>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="middle" style="font-family:'Moderat Regular',Arial, Helvetica, sans-serif;padding: 25px;padding-left: 0px;padding-right: 0px;padding-top:0px;font-size:18px;line-height:22px;font-weight:normal;color:#333333;text-align:
                        center;" mc:edit="mm-36">
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                  class="main">
                                  <tr>
                                    <td align="justify" valign="middle"
                                      style="font-family:'Moderat Medium',Arial, Helvetica, sans-serif;">
                                      <img
                                        style="margin-right: 10px;vertical-align: middle;display: inline-block !important;margin-bottom: 2.5px;"
                                        src="https://fairtrace-v2-dev.s3.eu-central-1.amazonaws.com/email/images/call.png"
                                        alt="">
                                      <multiline>Call us : <a style="color:#4DCAF4 !important;"
                                          href="tel:+31 6 16557605">+31 6 16557605</a></multiline>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- <tr>
            <td height="60" align="center" valign="top" style="font-size:60px; line-height:60px;">&nbsp;</td>
          </tr> -->
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>



<br>
</body>
</html>
